body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  

}

.main__app{
  position:absolute;
  top: 0;
  background-color: #DBC5C5;
  width: 100%;
  height: auto;
  background-position: center;
  z-index: -1;


}
.app__second{
  position: relative;
}

ul,li,a{
  list-style: none;
  text-decoration: none;

  list-style-type: none;
}
